<div [ngClass]="'flex gap-10 lg:gap-20 justify-between'">
    <div [ngClass]="showSearchInput?'hidden':'flex' +'  gap-4 items-center flex-shrink-0 ' ">
        <button class="btn bg-gray-100 p-2">
            <i-lucide name="menu" class="my-icon"></i-lucide>

        </button>
        <a routerLink="/">
            <img src="./assets/logo.png" class="h-7">
        </a>
    </div>
    <div>
        <form [ngClass]="'md:flex   gap-4 flex-grow justify-center'+ showSearchInput?'flex':'hidden'">
            <div class="flex flex-grow max-w-[600px]">
                <input type="search" placeholder="Search"
                    class="rounded-l-full border border-gray-200 outline-none px-4 text-lg w-full focus:border-blue-100  shadow-inner shadow-gray-50">
                <button class="btn  p-2 flex-shrink-0 bg-gray-200 py-2 px-4 rounded-r-full border-l-0 ">
                    <i-lucide name="Search" class="my-icon"></i-lucide>

                </button>
            </div>
            <button class="btn  p-3 flex-shrink-0 bg-gray-100 rounded-full ">
                <i-lucide name="Mic" class="my-icon"></i-lucide>

            </button>
        </form>
    </div>
    <div [ngClass]="showSearchInput?'hidden':'flex' + ' flex-shrink-0 md:gap-2'">
        <button (click)="openSearchInput()"  class="btn md:hidden  p-2">
            <i-lucide name="Search" class="my-icon"></i-lucide>

        </button>
        <button class="btn  p-2">
            <i-lucide name="Upload" class="my-icon"></i-lucide>

        </button>
        <button class="btn  p-2">
            <i-lucide name="Bell" class="my-icon"></i-lucide>

        </button> <button class="btn  p-2">
            <i-lucide name="user" class="my-icon"></i-lucide>

        </button>
    </div>
</div>