<div class="flex gap-10 lg:gap-20 justify-between">
  <div class="flex gap-4 items-center flex-shrink-0  ">
    <button class="btn bg-gray-100 p-2">
        <i-lucide name="menu" class="my-icon"></i-lucide>

    </button>
    <a routerLink="/">
        <img src="./assets/logo.png" class="h-7">
    </a>
  </div>
  <div>
    <form class="flex gap-4 flex-grow justify-center">
        <div class="flex flex-grow max-w-[600px]">
<input type="search" class="rounded-l-full border border-gray-200 outline-none px-3  shadow-inner shadow-gray-50">
<button class="btn  p-2 flex-shrink-0">
    <i-lucide name="Search" class="my-icon"></i-lucide>

</button>
        </div>
        <button class="btn  p-2 flex-shrink-0">
            <i-lucide name="Mic" class="my-icon"></i-lucide>
    
        </button>
    </form>
  </div>
  <div class="flex flex-shrink-0 md:gap-2">
    <button class="btn  p-2">
        <i-lucide name="Upload" class="my-icon"></i-lucide>

    </button>
    <button class="btn  p-2">
        <i-lucide name="Bell" class="my-icon"></i-lucide>

    </button>  <button class="btn  p-2">
        <i-lucide name="user" class="my-icon"></i-lucide>

    </button> 
  </div>
</div>
